<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context/ http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="employee" class="com.virtusa.bean.Employee">
		<property name="empName" value="Akanksha"></property>
		<property name="empCode" value="001"></property>
		<property name="address" ref="address"></property>
		<property name="unit" ref="unit"></property>
	</bean>
	<bean id="address" class="com.virtusa.bean.Address">
		<property name="city" value="Satana"></property>
		<property name="state" value="Maharashtra"></property>
		<property name="country" value="India"></property>
	</bean>
	<bean id="unit" class="com.virtusa.bean.Unit">
		<property name="unitName" value="HealthCare"></property>
	</bean>
</beans>